<h2>Invalid content elements</h2>
<f:render section="List" arguments="{elements: failedElements}" />

<h2>Content Elements</h2>
<f:render section="List" arguments="{elements: elements}" />

<f:section name="List">
    <div class="card-container">
        <f:for each="{elements}" as="element">
            <div class="card card-size-medium">
                <div class="card-header">
                    {element.configurationFile}
                </div>
                <div class="card-content">
                    <f:if condition="{element.violations}">
                        <f:be.infobox state="2">
                            <ul class="list-unstyled">
                                <f:for each="{element.violations}" as="violation">
                                    <li>
                                        <strong>{violation.propertyPath}</strong>: {violation.message}
                                    </li>
                                </f:for>
                            </ul>
                        </f:be.infobox>
                    </f:if>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <tr>
                                <th width="100">Identifier <code>[identifier]</code></th>
                                <td>{element.identifier}</td>
                            </tr>
                            <tr>
                                <th>Name <code>[name]</code></th>
                                <td>{element.name}</td>
                            </tr>
                            <tr>
                                <th>Description <code>[description]</code></th>
                                <td>{element.description}</td>
                            </tr>
                            <tr>
                                <th>Icon <code>[icon]</code></th>
                                <td>{element.icon}</td>
                            </tr>
                            <tr>
                                <th>Categories <code>[categories]</code></th>
                                <td>
                                    <f:if condition="{element.categories}">
                                        <f:for each="{element.categories}" as="category">
                                            <span class="badge">{category.key}</span>
                                        </f:for>
                                    </f:if>
                                </td>
                            </tr>
                            <tr>
                                <th>Fields <code>[fields]</code></th>
                                <td>
                                    <f:if condition="{element.fields}">
                                        <f:for each="{element.fields}" as="field">
                                            <div class="table-responsive">
                                                <f:if condition="{field.violations}">
                                                    <f:then>
                                                        <f:variable name="trClass" value="danger" />
                                                        <f:be.infobox state="2">
                                                            <ul class="list-unstyled">
                                                                <f:for each="{field.violations}" as="violation">
                                                                    <li>
                                                                        <strong>{violation.propertyPath}</strong>: {violation.message}
                                                                    </li>
                                                                </f:for>
                                                            </ul>
                                                        </f:be.infobox>
                                                    </f:then>
                                                    <f:else>
                                                        <f:variable name="trClass" value="" />
                                                    </f:else>
                                                </f:if>
                                                <table class="table table-striped">
                                                    <tr class="{trClass}">
                                                        <th width="100">Property <code>[property]</code></th>
                                                        <td>{field.property}</td>
                                                    </tr>
                                                    <tr class="{trClass}">
                                                        <th width="100">Label <code>[label]</code></th>
                                                        <td>{field.label}</td>
                                                    </tr>
                                                    <tr class="{trClass}">
                                                        <th width="100">Type <code>[type]</code></th>
                                                        <td>{field.type}</td>
                                                    </tr>
                                                    <f:if condition="{field.validation}">
                                                        <tr class="{trClass}">
                                                            <th width="100">Validation <code>[validation]</code></th>
                                                            <td>
                                                                <ul class="list-unstyled">
                                                                    <f:for each="{field.validation}" key="key" as="validation">
                                                                        <li>{key}: {validation}</li>
                                                                    </f:for>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </f:if>
                                                    <f:if condition="{field.configuration}">
                                                        <tr class="{trClass}">
                                                            <th width="100">Configuration <code>[configuration]</code>
                                                            </th>
                                                            <td>
                                                                <ul class="list-unstyled">
                                                                    <f:for each="{field.configuration}" key="key" as="configuration">
                                                                        <li>{key}: {configuration}</li>
                                                                    </f:for>
                                                                </ul>
                                                            </td>
                                                        </tr>
                                                    </f:if>
                                                </table>
                                                <br>
                                            </div>
                                        </f:for>
                                    </f:if>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>
